/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* regole dell'header */
header {
  height: 50px;
  background-color: #000000;
}

header .container {
  width: 1550px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

header input {
  padding: 4px;
  width: 350px;
  border: none;
}

/* regole del contenitore con la stampa dei film */
main {
  height: calc(100vh - 50px);
  background-color: #2d3339;
}

main .container {
  padding-left: calc((100% - 1550px) / 2);
  padding-right: calc((100% - 1550px) / 2);
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  scrollbar-width: none;
}

/* regole per le "card" che contengono le informazioni dei film trovati */
.card {
  height: 521px;
  width: 350px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: #000000;
  border: 4px solid #FFFFFF;
  position: relative;
}

.card .info {
  padding: 20px;
  color: #FFFFFF;
  display: none;
}

.card .info .title {
  font-size: 20px;
}

.card .info .flag {
  width: 50px;
  vertical-align: middle;
}

.card .info .fa-star {
  color: #B8860B;
}

.card .info .overview {
  max-height: 300px;
  overflow: auto;
  scrollbar-width: thin;
}

.card .info .instructions {
  font-size: 12px;
}

.card .extra {
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #FFFFFF;
  background-color: #000000;
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover .poster {
  display: none;
}

.card:hover .info {
  display: block;
}
/*
.card:active .poster,
.card:active .info {
  display: none;
}

.card:active .extra {
  display: block;
} */
