/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

/* regole dell'header */
header {
  height: 50px;
  background-color: #000000;
}

header .container {
  width: 1600px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

header input,
header select {
  padding: 4px;
  width: 350px;
  border: none;
}

/* regole del contenitore con la stampa dei film */
main {
  height: calc(100vh - 50px);
  background-color: #2d3339;
}

main .container {
  padding-left: calc((100% - 1600px) / 2);
  padding-right: calc((100% - 1600px) / 2);
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-width: none;
}

/* regole per le "card" che contengono le informazioni dei film trovati */
.card {
  height: 521px;
  width: 350px;
  margin: 50px 25px 0;
  display: flex;
  align-items: center;
  background-color: #000000;
  border: 4px solid #FFFFFF;
  position: relative;
}

.card .poster {
  height: 513px;
  width: 342px;
}

.card .title {
  font-size: 20px;
}

.card .info {
  padding: 20px;
  color: #FFFFFF;
  display: none;
}

.card .info .flag {
  width: 50px;
  vertical-align: middle;
}

.card .info .fa-star {
  color: #B8860B;
}

.card .info .overview {
  max-height: 300px;
  overflow: auto;
  scrollbar-width: thin;
}

.card .info .page2 {
  height: 513px;
  width: 342px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  background-color: #000000;
}

.card .page2 .title{
  margin: 10px 0 5px;
  font-weight: bold;
}

.card .info .instructions {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
}

.card:hover {
  cursor: pointer;
}

.card:hover .poster {
  display: none;
}

.card:hover .info {
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}
