<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoolFlix</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>
  <body>

    <div id="root">

      <input v-model="search">

      <button @click="startSearch">Cerca</button>

      <ol>
        <li v-for="movie in database">
          <ul>
            <li>Titolo: {{movie.title}} {{movie.name}}</li>
            <li v-if="movie.title != movie.original_title || movie.name != movie.original_name">Titolo Originale: {{movie.original_title}} {{movie.name}}</li>
            <li v-if="movie.hasOwnProperty('title')">Film</li>
            <li v-else>Serie TV</li>
            <li><img :src="'img/flags/' + movie.original_language +'.png'" @error="genericFlag"></li>
            <li>
              <!-- stampo un numero di stelle piene pari al voto trasformato in numero da 0 a 5 ed un numero di stelle vuote pari a 5 meno il voto-->
              <i v-for="star in voteStar(movie.vote_average)" class="fas fa-star"></i><i v-for="star in (5 - voteStar(movie.vote_average))" class="far fa-star"></i>
            </li>
          </ul>
        </li>
      </ol>

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
