<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoolFlix</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>
  <body>

    <div id="root">

      <input v-model="search">

      <button @click="startSearch">Cerca</button>

      <!-- output stampa dei film trovati -->
      <div v-if="show && found">
        <ul v-for="movie in dbMovie">
          <li>Titolo: {{movie.title}}</li>
          <li v-if="movie.title != movie.original_title">Titolo Originale: {{movie.original_title}}</li>
          <li>Lingua Originale: {{movie.original_language}}</li>
          <li>Media Voto: {{movie.vote_average}}</li>
        </ul>
      </div>

      <!-- output quando la ricerca é inconcludente -->
      <div v-else-if="show && !found">
        Nessun film trovato. Prego effettuare una nuova ricerca.
      </div>

      <!-- output quando si preme il bottone ma non si ha scritto niente -->
      <div v-else>
        Scrivi qualcosa e premi il bottone per cercare film nel database online.
      </div>

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
